@import "@styles/common.scss";
.container{
    text-align: center;
}

.about {

    @include flexBodyCenter;

    background: var(--color-purple);
    color: var(--primary-color);
    height: 40vh;
    flex-direction: column;
    padding: 10px 30px;

    h1 {
        margin: 35px 0px; 
        // margin-bottom: ;
    }

    justify-content: flex-start;

    @media (min-width: 800px){

        height: 40vh;
        padding: 10px 30px;

    }

}

.stack {

    @include flexBodyCenter;
    margin-top: -9rem;
    width: 100vw;

    ul {
        list-style-type: none;
    }
}

.stackUl {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    @media (min-width: 800px){
        flex-direction: row;
    }

}

.stackLi {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    padding: 1.5rem;
}

.stackLi:not(:last-of-type) {
    border-bottom: 1px solid var(--grey-dark-rgba);

    @media (min-width: 800px) {
        border-bottom: none;
        border-right: 1px solid var(--grey-dark-rgba);
    }
}

.stackIcon {

    background: var(--secondary-color);
    height: 2rem;
    width: 2rem;
    padding: 8px;
    border-radius: 50%;
    svg {
        height: 100%;
        width: 100%;
    }
}