:root {
    --primary-color: #FEF9FF;
    --secondary-color: #736CED;
    --highlight-color: #32CD32;
    --text-color: #000000;
    --border-color: #D3D3D3;
    --error-color: #ED2929;
    --light-grey: #F5F5F5;
    --color-purple: #7B4CB8;;
    --color-thistle: #D4C1EC;
    --color-champagne: #F2DFD7;
    --off-white: #F8F8F8;

    --grey-light: #f0f0f0;
    --grey: #ccc;
    --grey-dark: #999;
    --grey-darker: #666;
    --grey-darkest: #333;
    --grey-black: #1a1a1a;
}

*{
    margin: 0;
    padding: 0;
}
html,
body {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}